# misc
CLAUDE.md
.direnv
.org-publish-cache
result
tmp

# infra
.terraform
.terragrunt-cache
auto-*.tf
infra/.envrc
state*

*.bbl
*.aux
*.out
*.log
*.xmpi

/content/projects/**/*.tex
/content/projects/**/*.pdf
