.footer 
  a 
    text-decoration: underline; 


blockquote
  font-style: italic

.comment-block
  color: var(--notice-warning-border-color)
  background: var(--notice-warning-background)
  border: 1px solid var(--notice-warning-border-color)
  padding: 0 25px 0 25px

